<footer class="bg-dark text-center text-white sticky-footer">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1"
         href="https://www.facebook.com/people/Siva-Sankar/pfbid0nzPzoasXEEDoGiZXJPiRadbSDFsGfv4h6UTamyuNY5UwJPyxsasGxzowBBrHBfu3l/"
         target="_blank" rel="noopener noreferrer" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1"
         href="https://x.com/Call_me_Siva06"
         target="_blank" rel="noopener noreferrer" role="button">
        <i class="fab fa-twitter"></i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1"
         href="https://google.com"
         target="_blank" role="button">
        <i class="fab fa-google"></i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1"
         href="https://www.instagram.com/crazydev/?hl=en"
         target="_blank" rel="noopener noreferrer" role="button">
        <i class="fab fa-instagram"></i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1"
         href="https://www.linkedin.com/in/siva-sankar-b9a252219/"
         target="_blank" rel="noopener noreferrer" role="button">
        <i class="fab fa-linkedin-in"></i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1"
         href="https://github.com/Sivasankar006"
         target="_blank" rel="noopener noreferrer" role="button">
        <i class="fab fa-github"></i>
      </a>
    </section>
  </div>

  <div class="text-center p-3 footer">
    © 2025 Copyright:
    <a class="text-white emaillink" href="mailto:sivasankar17sucs043@gmail.com">sivasankar17sucs043@gmail.com</a>
  </div>
</footer>
