  .container {
    margin-top: 0 !important;
  }
  
  .my-chart {
    height: 300px !important;
    width: 300px !important;
  }
    
  app-admin-header.sticky-top {
    height: fit-content;
  }
  
  canvas.my-chart {
    margin: auto;
  }
  

  