
<div class="d-flex">
    <nav class="sidebar bg-lightblue text-white p-3" [class.active]="sidebarOpen">
      <a class="navbar-brand d-flex align-items-center mb-4" routerLink="/admin/dashboard">
        <img class="img-fluid me-2" src="../../../assets/fav.png" alt="Image" />
        <span class="heading">Admin</span>
      </a>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a routerLink="/admin/dashboard" class="nav-link" routerLinkActive="active-link">Dashboard</a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/user-management" class="nav-link" routerLinkActive="active-link">User Management</a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/profile" class="nav-link" routerLinkActive="active-link">Profile</a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/settings" class="nav-link" routerLinkActive="active-link">Settings</a>
        </li>
      
      </ul>
      <div *ngIf="Authservice.isLoggedIn()" class="mt-auto">
        <button class="btn btn-danger w-100 logout-btn" (click)="logout()">
          <i class="fas fa-sign-out-alt me-2"></i> Logout
        </button>
      </div>
    </nav>
  
    <button class="sidebar-toggle d-md-none mobile-btn-space" (click)="sidebarOpen = !sidebarOpen">
      <i class="fas fa-bars text-white"></i>
    </button>
  </div>
  