.form-header {
  margin-bottom: 20px;
  margin-left: 0; 
}

.registration-form {
  width: 100%; 
  max-width: 400px; 
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

.btn-block {
  width: 100%;
}

.form-container {
  background-color: #f8f9fa; 
  border: 1px solid #ced4da; 
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
}

@media (max-width: 767px) {
  .form-header {
    margin-left: 0; 
  }
}

@media (min-width: 768px) {
  .form-header {
    margin-left: 236px; 
  }
}

.no-underline {
  text-decoration: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Ensures page takes full viewport height
}

.flex-fill {
  flex: 1 1 auto; // Ensures main content fills the space between header & footer
}

app-footer, .sticky-footer {
  flex-shrink: 0;
  margin-top: auto;
}
